---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-5 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <!-- {% include call.html show_button=false %} -->
                <div class="content mt-4">
                    <h2>Researcher Directory</h2>
                    <p>
                        <a href="https://www.engr.ncsu.edu/people/gerother/">Gregg Rothermel</a><br>
                        <a href="https://www.csc.ncsu.edu/people/tjmenzie">Tim Menzies</a><br>
                        <a href="https://www.csc.ncsu.edu/people/ktstolee">Kathryn (Katie) Stolee</a><br>
                        <a href="https://www.csc.ncsu.edu/people/mdamori">Marcelo D'Amorim</a><br>
                        <a href="https://www.csc.ncsu.edu/people/skuttal">Sandeep Kaur Kuttal</a><br>
                        <a href="https://www.csc.ncsu.edu/people/sesmith5">Sarah Heckman</a><br>
                        <a href="https://www.csc.ncsu.edu/people/wguezas">Wesley K. G. Assunção</a><br>
                        <a href="https://www.csc.ncsu.edu/people/jwore">John-Paul Ore</a><br>
                        <a href="https://www.csc.ncsu.edu/people/bxu22">Bowen Xu</a>
                    </p>
                    <h2>Main Office</h2>
                    <p>
                        Local Address<br>
                        Main Office<br>
                        North Carolina State University<br>
                        Department of Computer Science<br>
                        890 Oval Drive, Box 8206<br>
                        Engineering Building II<br>
                        Raleigh, NC 27695-8206<br>
                        Phone: 919-515-2858<br>
                        Fax: 919-515-7896
                    </p>
                    <h2>Graduate Program Office</h2>
                    <p>
                        North Carolina State University<br>
                        Department of Computer Science<br>
                        890 Oval Drive, Box 8206<br>
                        Engineering Building II<br>
                        Raleigh, NC 27695-8206<br>
                        Phone: 919-515-8662
                    </p>
                    <h2>Mail & Delivery Information</h2>
                    <p>
                        US Postal Service<br>
                        Department of Computer Science<br>
                        NC State University<br>
                        Campus Box 8206<br>
                        Raleigh, NC 27695-8206
                    </p>
                    <p>
                        Fedex/UPS/Airborne-DHL/Other<br>
                        Department of Computer Science<br>
                        NC State University<br>
                         890 Oval Drive<br>
                        3320 Engineering Building II<br>
                        Raleigh, NC 27606
                    </p>
                    <h2>Other Contacts</h2>
                    <p>
                        For questions about our undergraduate program and admissions please fill out this form.<br>
                        For questions about our graduate program and admissions contact csc_gradadmissions@ncsu.edu.<br>
                        For Information Technology support questions contact csc_help@ncsu.edu. Do not send "Admission inquiries" to this email address because you will not receive a response.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
