---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <!-- <div class="col-6 col-md-7 col-lg-6 order-2 order-md-1"> -->
        <div>
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>


<div class="strip">
  <div class="container pt-3 pb-3 pb-md-5">
    <div class="row justify-content-start">
      {% assign services = site.services | reverse %}
      {% for service in services %}
        {% if service.title == "For Students" %}
          <div class="col-12 col-md-3 mb-1">
            <div class="service service-summary">
              <div class="service-content">
                <h2 class="service-title">
                  <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
                </h2>
                <p>{{ service.about | markdownify | strip_html | truncate: 100 }}</p>
              </div>
            </div>
          </div>
        {% elsif service.title == "For Researchers" %}
          <div class="col-12 col-md-3 mb-1">
            <div class="service service-summary">
              <div class="service-content">
                <h2 class="service-title">
                  <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
                </h2>
                <p>{{ service.about | markdownify | strip_html | truncate: 100 }}</p>
              </div>
            </div>
          </div>
        {% elsif service.title == "For Industry" %}
          <div class="col-12 col-md-3 mb-1">
            <div class="service service-summary">
              <div class="service-content">
                <h2 class="service-title">
                  <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
                </h2>
                <p>{{ service.about | markdownify | strip_html | truncate: 100 }}</p>
              </div>
            </div>
          </div>
        {% elsif service.title == "Success Stories" %}
          <div class="col-12 col-md-3 mb-1">
            <div class="service service-summary">
              <div class="service-content">
                <h2 class="service-title">
                  <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
                </h2>
                <p>{{ service.about | markdownify | strip_html | truncate: 100 }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
